<ion-header style="background: #3b4254;" >  
        <ion-navbar>
            <ion-title  class="detail-title" *ngIf="type=='rules1'">이용약관</ion-title>
            <ion-title  class="detail-title" *ngIf="type=='rules2'">개인정보 취급방침</ion-title>
        </ion-navbar>
</ion-header>

<ion-content padding>
    <ng-template [ngIf]="type == 'rules1'">
       <div style="width: 100%;padding:12px; top: 0;">
쉬잇 이용약관
<br><br>이 약관은 ㈜숨크리에이티브(이하 ‘회사’)가 운영하는 애플리케이션 She Talk (이하 ‘쉬잇’) 및 ‘쉬잇’의 시스템을 이용하는 ‘쉬잇’의 모든 제휴 병 의원 (이하 ‘제휴처’)과 이용자의 권리•의무 및 책임사항을 규정함을 목적으로 합니다.<br><br>        
제1조 목적<br>
제2조 정의<br>
제3조 약관의 명시와 개정<br>
제4조 서비스의 제공 및 변경<br>
제5조 서비스이용의 제한 및 중단<br>
제6조 회원의 의무<br>
제7조 회원에 대한 통지<br>
제8조 청약철회 등<br>
제9조 개인정보보호<br>
제10조 회원의 ID및 비밀번호에 대한 의무<br>
제11조 면책<br>
제12조 '쉬잇'과 '체휴처' 의 법적책임<br>
제13조 저작권의 귀속 및 이용제한<br>
제14조 분쟁해결<br>
 1.‘제휴처’란 ‘쉬잇’의 시스템을 제공받아 이용자에게 ‘제휴처’의 비급여항목 아이템을 ‘제휴처’의 자체 결제시스템을 통해서 이용할 수 있도록 서비스를 제공하는 주체를 말합니다.<br>
 2.‘이용자’란 ‘쉬잇’에 접속하여 이 약관에 따라 ‘쉬잇’과 ‘제휴처’가 각각 제공하는 서비스를 받는 회원을 말합니다.<br>
 3.‘서비스’라 함은, 구현되는 단말기(PC, 태블릿, 휴대용 단말기 등의 각 종 유무선 장치)와 상관없이 ‘쉬잇’의 브랜드명을 가지고 (주)숨크리에이티브가 제공하는 제반 서비스를 말합니다.<br>
 4.‘회원’ 이라 함은, 회사의 ‘서비스’에 접속하여 본 약관에 동의하고, 회원 등록을 완료한 이용자를 말합니다.<br>
 5.‘게시물’ 이라 함은, ‘회원’이 ‘서비스’를 이용함에 있어 ‘서비스상’에 게시한 부호ㆍ문자ㆍ음성ㆍ음향ㆍ화상ㆍ동영상 등의 정보 형태의 글, 사진, 동영상 및 각종 파일과 링크 등을 의미합니다.<br><br>
 1.‘쉬잇’과 ‘제휴처’가 약관의 내용과 상호, 영업소 소재지, 대표자의 성명, 사업자등록번호, 연락처 등을 이용자가 쉽게 알 수 있도록 ‘쉬잇’과 ‘제휴처’ 각각의 해당 페이지에 게재합니다.<br>
 2.‘쉬잇’과 ‘제휴처’는 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제 등에 관한 법률, 전자거래 기본법, 전자서명법, 정보통신망 이용촉진 등에 관한 법률, 방문판매 등에 관한 법률, 소비자기본법 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.<br>
 3.‘쉬잇’과 ‘제휴처’가 약관을 개정할 경우에는 적용일자 및 개정사유 명시하여 현행약관과 함께 ‘쉬잇’과 ‘제휴처’ 관련화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 ‘쉬잇’과 ‘제휴처’ 개정전과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.<br>
 4.회사가 전항에 따라 회원에게 통지하면서 공지 또는 공지∙고지일로부터 개정약관 시행일 7일 후까지 거부의사를 표시하지 않으면 승인한 것으로 본다는 뜻을 명확하게 고지하였음에도, “회원” 이 명시적으로 거부의 의사 표시를 하지 않은 경우에는 변경된 약관을 승인한 것으로 봅니다.<br>
 5.‘쉬잇’과 ‘제휴처’ 약관을 개정할 경우에는 그 개정약관은 그 적용 일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제3항에 의한 개정약관의 공지기간 내에 송신하여 ‘쉬잇’과 ‘제휴처’의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.<br>
 6.회원이 개정약관에 동의하지 않을 경우 회원은 제11조 제1항의 규정에 따라 이용계약을 해지할 수 있습니다.<br>
 7.이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 전자상거래 등에서의 소비자보호지침 및 관계 법령 또는 상관례에 따릅니다.<br><br>
 1.‘쉬잇’과 ‘제휴처’는 다음과 같은 업무를 수행합니다.<br>
 2.재화 또는 용역에 대한 정보 제공<br>
 3.‘쉬잇’에 입점한 판매 업체 및 ‘제휴처’와 소비자 간 배송, 교환, 환불 등의 거래 중개<br>
 4.기타 ‘쉬잇’과 ‘제휴처’가 정하는 업무<br>
 5.서비스 이용은 회사의 서비스 사용 승낙 직후부터 가능합니다.<br>
 6.서비스 이용시간은 회사의 업무상 또는 기술상 불가능한 경우를 제외하고는 연중무휴 1일 24시간(00:00-24:00)으로 함을 원칙으로 합니다. 다만, 서비스 설비의 정기점검 등의 사유로 회사가 서비스를 특정범위로 분할하여 별도로 날짜와 시간을 정할 수 있습니다.<br>
 7.‘쉬잇’과 ‘제휴처’는 재화 등의 품질 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 재화용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화•용역의 내용 및 제공일자를 명시하여 현재의 재화내용을 게시한 곳에 즉시 공지합니다.<br>
 8.‘쉬잇’과 ‘제휴처’가 제공하기로 이용자와 계약을 체결한 서비스의 내용을 재화 등의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 이용자에게 통지 가능한 주소로 즉시 통지합니다.<br>
 9.전항의 경우 ‘쉬잇’과 ‘제휴처’는 이로 인하여 이용자가 입은 손해를 각각 배상합니다. 단, ‘쉬잇’과 ‘제휴처’의 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.<br><br>
 1.‘쉬잇’과 ‘제휴처’는 컴퓨터 등 정보통신설비의 보수점검교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.<br>
 2.‘쉬잇’과 ‘제휴처’가 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해을 입었을 때는 해당 주체가 각각에 대하여 배상합니다. 단 ‘쉬잇’과 ‘제휴처’의 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.<br>
 3.사업종목의 전환, 사업의 포기, 업체간의 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우에는 ‘쉬잇’과 ‘제휴처’는 제8조에 정한 방법으로 이용자에게 통지하고 당초 ‘쉬잇’과 ‘제휴업체’이 각각 제시한 조건에 따라 소비자에게 보상합니다.<br>
 4.회사는 다음 사유가 발생한 경우에는 회원의 서비스 이용을 제한하거나 중지시킬 수 있습니다.<br>
   1.회원이 회사 서비스의 운영을 고의 또는 중과실로 방해하는 경우<br>
   2.회원이 제9조의 의무를 위반한 경우<br>
   3.서비스용 설비 점검, 보수 또는 공사로 인하여 부득이한 경우<br>
   4.전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우<br>
   5.국가비상사태, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 서비스 이용에 지장이 있는 때<br>
   6.기타 중대한 사유로 인하여 회사가 서비스 제공을 지속하는 것이 부적당하다고 인정하는 경우<br>
 5.회사는 전항의 규정에 의하여 서비스의 이용을 제한하거나 중지한 때에는 그 사유 및 제한 기간 등을 회원에게 알려야 합니다.<br><br>
 1.회원은 다음 행위를 하여서는 안 됩니다.<br>
   1.회원정보에 허위 내용을 등록하는 행위<br>
   2.회사의 서비스에 게시된 정보를 변경하거나 서비스를 이용하여 얻은 정보를 회사의 사전 승낙 없이 영리 또는 비영리의 목적으로 복제, 출판, 방송 등에 사용하거나 제3자에게 제공하는 행위<br>
   3.회사 기타 제3자의 명예를 훼손하거나 지적재산권을 침해하는 등 회사나 제3자의 권리를 침해하는 행위<br>
   4.다른 회원의 ID 및 비밀번호를 도용하여 부당하게 서비스를 이용한 경우<br>
   5.정크메일(junk mail), 스팸메일(spam mail), 행운의 편지(chain letters), 피라미드 조직에 가입할 것을 권유하는 메일, 외설 또는 폭력적인 메시지 ·화상·음성 등이 담긴 메일을 보내거나 기타 공서양속에 반하는 정보를 공개 또는 게시하는 행위<br>
   6.정보통신망이용촉진 및 정보보호 등에 관한 법률 등 관련 법령에 의하여 그 전송 또는 게시가 금지되는 정보(컴퓨터 프로그램 등)를 전송하거나 게시하는 행위<br>
   7.공공질서 또는 미풍양속에 위배되는 내용의 정보, 문장, 도형, 음성 등을 유포하는 행위<br>
   8.회사의 직원이나 서비스의 관리자를 가장하거나 사칭하여 또는 타인의 명의를 모용하여 글을 게시하거나 메시지를 발송하는 행위<br>
   9.컴퓨터 소프트웨어, 하드웨어, 전기통신 장비의 정상적인 가동을 방해, 파괴할 목적으로 고안된 소프트웨어 바이러스, 기타 다른 컴퓨터 코드, 파일, 프로그램을 포함하고 있는 자료를 게시하거나 전자우편, SMS로 발송하는 행위<br>
   10.스토킹(stalking) 등 다른 회원의 서비스 이용을 방해하는 행위<br>
   11.다른 회원의 개인정보를 그 동의 없이 수집, 저장, 공개하는 행위<br>
   12.불특정 다수의 회원을 대상으로 하여 광고 또는 선전을 게시하거나 스팸메일을 전송하는 등의 방법으로 회사에서 제공하는 서비스를 이용하여 영리목적의 활동을 하는 행위<br>
   13.현행 법령, 회사가 제공하는 서비스에 정한 약관 기타 서비스 이용에 관한 규정을 위반하는 행위<br>
 2.회사는 회원이 제1항의 행위를 하는 경우 서비스의 이용을 제한하거나 일방적으로 본 계약을 해지할 수 있습니다.<br><br>
 1.‘제휴처’란 ‘쉬잇’의 시스템을 제공받아 이용자에게 ‘제휴처’의 비급여항목 아이템을 ‘제휴처’의 자체 결제시스템을 통해서 이용할 수 있도록 서비스를 제공하는 주체를 말합니다.<br>
 2.‘이용자’란 ‘쉬잇’에 접속하여 이 약관에 따라 ‘쉬잇’과 ‘제휴처’가 각각 제공하는 서비스를 받는 회원을 말합니다.<br><br>
 1.‘쉬잇’의 재화 및 ‘제휴처’의 비급여항목 구매에 관한 계약을 체결한 고객은 수신확인의 통지를 받은 날부터 7일 이에 청약을 철회할 수 있습니다.<br>
 2.이용자는 ‘쉬잇’의 재화 및 ‘제휴처’의 비급여항목 등을 결제한 이후에 다음 각호의 1에 해당하는 경우에는 반품과 교환 및 결제 철회를 할 수 없습니다.<br>
   1.이용자에게 책임 있는 사유로 재화 등이 멸실 또는 훼손된 경우(다만, 재화 등의 내용 확인을 위하여 포장 등을 훼손한 경우에는 청약철회를 할 수 있습니다.)<br>
   2.이용자의 사용 또는 일부 소비에 의하여 재화 등의 가치가 현저히 감소한 경우<br>
   3.시간의 경과에 의하여 재판매가 곤란할 정도로 재화 등의 가치가 현저히 감소한 경우<br>
   4.같은 성능을 지닌 재화 등으로 복제가 가능한 경우 그 원본인 재화 등의 포장을 훼손한 경우<br>
   5.그 밖에 거래의 안전을 위하여 전자상거래 등에서의 소비자보호에 관한 법률 시행령 21조(청약철회 등의 제한)에서 정하는 경우<br>
   6.‘제휴처’에서 공지한 환불철회기간을 지났거나, 이미 ‘제휴처’에 방문하여 결제한 항목을 이용하였을 경우<br>
 3.이용자는 제1항 및 제2항의 규정에 불구하고 재화 등의 내용이 표시ㆍ광고 내용이 다르거나, 계약내용과 다르게 이행된 경우에는 당해 재화 등을 공급받은 날로부터 3개월 이내, 그 사실을 안 날 또는 알 수 있었던 날로부터 30일 이내에 청약철회 등을 할 수 있습니다.<br><br>
 1.‘쉬잇’과 ‘제휴처’ 이용자의 정보수집 시 구매계약 이행에 필요한 최소한의 정보를 수집합니다. 다음 사항을 필수사항으로 하며 그 외 사항은 선택사항으로 합니다.<br>
   1.성명<br>
   2.휴대폰번호<br>
   3.전자우편주소<br>
 2.‘쉬잇’과 ‘제휴처’가 이용자의 개인식별이 가능한 개인정보를 수집하는 때에는 반드시 당해 이용자의 동의를 받습니다.<br>
 3. 제공된 개인정보는 당해 이용자의 동의 없이 목적 외의 이용이나 제3자에게 제공할 수 없으며, 이에 대한 모든 책임은 ‘쉬잇’과 ‘제휴처’가 집니다. 다만, 다음의 경우에는 예외로 합니다.<br>
   1.배송업무상 배송업체에게 배송에 필요한 최소한의 이용자의 정보(성명, 주소, 전화번호)를 알려주는 경우<br>
   2.통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우<br>
   3.재화 등의 거래에 따른 대금정산을 위하여 필요한 경우<br>
   4.도용방지를 위하여 본인확인에 필요한 경우<br>
   5.법률의 규정 또는 법률에 의하여 필요한 불가피한 사유가 있는 경우<br>
 4.‘쉬잇’과 ‘제휴처’가 제2항과 제3항에 의해 이용자의 동의를 받아야 하는 경우에 개인정보관리 책임자의 신원(소속, 성명 및 전화번호 기타연락처), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련 사항(제공 받는 자, 제공목적 및 제공할 정보의 내용) 등 정보통신망 이용촉진 등에 관한 법률 제22조 제2항이 규정한 사항을 미리 명시하거나 고지해야 하며 이용자는 언제든지 이 동의를 철회할 수 있습니다.<br>
 5.이용자는 언제든지 ‘쉬잇’과 ‘제휴처’가 가지고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 ‘쉬잇’과 ‘제휴처’는 이에 대해 지체 없이 필요한 조치를 취할 의무를 집니다. 이용자가 오류의 정정을 요구한 경우에 ‘쉬잇’과 ‘제휴처’는 그 오류를 정정할 때까지 당해 개인정보를 이용하지 않습니다.<br>
 6.‘쉬잇’과 ‘제휴처’는 개인정보 보호를 위하여 관리자를 한정하여 그 수를 최소화하며 신용카드, 은행계좌 등을 포함한 이용자의 개인 정보의 분실, 도난, 유출, 변조 등으로 인한 이용자의 손해에 대하여 모든 책임을 집니다.<br>
 7.‘쉬잇’ 또는 그로부터 개인정보를 제공받은 제3자는 개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 당해 개인정보를 지체 없이 파기합니다.<br>
 8.기타 개인정보 취급과 관련한 내용은 ‘개인정보취급방침’에 고지하고 있으며 약관과 별도의 동의를 얻습니다.<br><br>
 1.제10조의 경우를 제외한 ID와 비밀번호에 관한 관리책임은 회원에게 있습니다.<br>
 2.회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.<br>
 3.회원이 자신의 ID 및 비밀번호를 도난 당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 ‘쉬잇’과 ‘제휴처’에 통보하고 ‘쉬잇’과 ‘제휴처’는 안내가 있는 경우에는 그에 따라야 합니다.<br>
 1.회사는 다음 사유로 서비스를 제공할 수 없는 경우 이로 인하여 회원에게 발생한 손해에 대해서는 책임을 부담하지 않습니다.<br>
   1.천재지변 또는 이에 준하는 불가항력의 상태가 있는 경우<br>
   2.서비스 제공을 위하여 회사와 서비스 제휴계약을 체결한 제3자의 고의적인 서비스 방해가 있는 경우<br>
   3.회원의 귀책사유로 서비스 이용에 장애가 있는 경우<br>
   4.기타 회사의 고의∙과실이 없는 사유로 인한 경우<br>
 2.회사는 CP가 제공하거나 회원이 작성하는 등의 방법으로 서비스에 게재된 정보, 자료, 사실의 신뢰도, 정확성 등에 대해서는 보증을 하지 않으며 이로 인해 발생한 회원의 손해에 대하여는 책임을 부담하지 않습니다.<br>
 3.회사는 회원이 서비스를 이용하여 기대하는 수익을 얻지 못하거나 상실한 것에 대하여 책임을 지지 않으며, 회원 상호간 및 회원과 제3자 상호간에 서비스를 매개로 발생한 분쟁에 대해 개입할 의무가 없고, 이로 인한 손해를 배상할 책임도 부담하지 않습니다.<br><br>
 1.‘쉬잇’ 자체 재화 판매건에 대한 법적인 책임은 ‘제휴처’는 법적인 책임이 없으며, 또한 ‘제휴처’의 비급여항목을 이용하는 이용자 및 회원이 그로 인해 발생 되는 의료 관련 사고에 대하여 ‘쉬잇’ 또한 법적인 연관 책임이 없으며 오직 서비스 주체인 ‘쉬잇’과 ‘제휴처’가 각각 책임을 지는 것으로 한다.<br><br>
 1.‘쉬잇’과 ‘제휴처’가 작성한 저작물에 대한 저작권 기타 지적재산권은 ‘쉬잇’과 ‘제휴처’에 귀속합니다.<br>
 2.이용자는 ‘쉬잇’과 ‘제휴처’를 이용함으로써 얻은 정보 중 지적재산권이 귀속된 정보를 ‘쉬잇’과 ‘제휴처’의 사전 승낙 없이 복제, 송신, 출판,배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.<br>
 3.‘쉬잇’과 ‘제휴처’는 약정에 따라 이용자에게 귀속된 저작권을 사용하는 경우 당해 이용자에게 통보하여야 합니다.<br><br>
 1.‘쉬잇’과 ‘제휴처’는 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상 처리기구를 설치운영합니다.<br>
 2.‘쉬잇’과 ‘제휴처’는 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보하여야만 합니다.<br>
 3.‘쉬잇’ 및 ‘제휴처’와 이용자간에 발생한 전자상거래 분쟁과 관련하여 이용자의 피해구제신청이 있는 경우에는 공정거래위원회 또는 시ㆍ도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습니다.<br><br>
 1.‘쉬잇’ 및 ‘제휴처’의 이용자간에 발생한 전자거래 분쟁에 관한 소송은 제소 당시의 이용자의 주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.<br>
 2.‘쉬잇’ 및 ‘제휴처’와 이용자간에 제기된 전자거래 소송에는 한국법을 적용합니다.<br><br>
 <부칙><br>
 본 약관은 2016년 09월 26일부터 적용 됩니다.<br><br>
       </div>
    </ng-template>
    <ng-template [ngIf]="type == 'rules2'">
        <div style="width: 100%;padding:12px; top: 0;">
개인정보처리방침<br>
<br><br>(주)숨크리에이티브(이하 ‘회사’)가 운영하는 애플리케이션(App) She Talk(이하 ‘쉬잇’)과 쉬잇의 시스템을 이용하는 모든 제휴 병의원(이하 ‘제휴처’)는 이용자의 개인정보를 매우 중요시하며, “정보통신망 이용촉진 및 개인정보보호”에 관한 법령 및 규정을 준수하고 있습니다.<br><br>  
1. 개인정보의 수집 및 이용목적<br>
2. 수집하는 항목 및 방법<br>
3. 개인정보의 제3자 제공<br>
4. 개인정보 보유 및 이용기간<br>
5. 개인정보 파기절차 및 방법<br>
6. 개인정보 보호를 위한 기술적, 관리적 보호대책<br>
7. 개인정보 관리담당부서<br>
‘회사’와 ‘제휴처’는 아래와 같은 목적으로 서비스 제공을 위한 최소한의 정보만을 수집합니다.<br>
또한 수집한 정보는 목적 외로 사용되지 않으며, 이용자의 동의없이 외부에 공개하지 않습니다.<br>
 1.회원관리<br>
   1.회원제 서비스 제공에 따른 개인식별<br>
   2.가입의사 확인<br>
   3.이용약관 위반 회원에 대한 이용제한 조치<br>
   4.가입 및 가입횟수 제한<br>
   5.서비스 부정 이용 제재<br>
   6.비인가 사용 방지<br>
   7.만 14세 미만 아동의 개인정보 수집 시 법정대리인 동의 여부 확인<br>
   8.추후 법정대리인 본인 확인<br>
   9.고충 처리 및 분쟁 조정을 위한 기록 보존<br>
   10.고지사항 전달<br>
   11.회원탈퇴 의사의 확인<br>
 2.신규 서비스 개발 및 마케팅 광고에 활용<br>
   1.이벤트 등 광고성 정보 전달<br>
   2.접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계<br>
   3.신규 서비스 개발 및 맞춤 서비 스 제공<br>
   4.인구통계학적 특성에 따른 서비스 제공 및 광고 게재<br>
   5.서비스의 유효성 확인<br>
   6.이벤트·광고성 정보 및 참여 기회 제공<br>
   7.회원의 서비스 이용에 대한 통계<br><br>
‘회사’와 ‘제휴처’는 회원가입, 서비스 이용 등을 위하여 아래와 같은 개인정보를 수집하고 있습니다.<br>
 1.수집방법<br>
   1.웹사이트<br>
   2.모바일웹<br>
   3.앱<br>
   4.자동 및 수동으로 생성/수집<br>
 2.수집항목<br>
   1.이메일 주소(필수)<br>
   2.단말기 정보(필수)<br>
   3.이름(선택)<br>
 3.기타<br>
   1.접속환경<br>
   2.접속일시<br>
   3.불량 혹은 비정상 이용기록<br>
   4.서비스 이용기록, 휴대전화번호<br><br>
‘회사’는 이용자의 동의가 있는 경우나, 법령에 규정된 경우를 제외하고는 개인정보를 제3자에게 절대로 제공하지 않습니다.<br><br>
이용자의 개인정보는 동의를 받은 개인정보의 수집 및 이용목적이 달성되면 법령 또는 내부방침에 의해 보존할 필요가 있는 경우를 제외하고는 지체 없이 파기됩니다.<br><br>
 1.파기절차<br>
   1.이용자가 회원가입 등을 위해 입력한 정보는 수집 목적이 달성된 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, 별도의 DB로 옮겨진 개인정보는 법률에 의한 경우가 외에는 다른 목적으로 이용되지 않습니다.<br>
 2.파기방법<br>
   1.전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제하며, 종이에 출력된 개인 정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.<br><br>
‘회사’는 이용자들의 개인정보 보호를 위해 다음과 같은 기술적, 관리적 노력을 하고 있습니다.<br>
 1.개인정보 암호화 이용자의 비밀번호 등 중요정보는 암호화되어 저장, 관리되고 있으며, 개인정보의 확인 및 변경은 본인에 의해서만 가능합니다.<br>
 2.개인정보를 취급하는 직원을 최소한으로 제한하고 있으며, 관련 직원들에 대한 수시 교육을 실시하여 개인정보취급방침의 중요성을 인지시키고 있습니다.<br><br>
‘회사’의 개인정보 처리방침은 관련법률 및 정부지침의 변경과 ‘쉬잇’ 서비스의 내부 방침 변경에 의해 수시로 변경될 수 있 으며, 개인정보 처리방침이 변경될 경우 변경사항은 추가로 게시됩니다.<br>
 1.쉬잇 서비스를 이용하면서 발생하는 모든 개인정보보호 관련 문의, 불만, 조언이나 기타 사항은 쉬잇 개인정보보호 부서로 문의하여 주시기 바랍니다. 쉬잇은 언제나 이용자 분들의 목소리에 귀를 열고 있으며, 각 문의에 대한 신속하고 성실한 답 변 및 처리를 위해 노력하고 있습니다.<br>
<br>담당부서 – (주)숨크리에이티브 쉬잇사업부 CS담당<br>
전화번호 – 02-855-7976<br>
E – mail – shetalk.cs@sumcreative.co.kr<br><br>
</div>
    </ng-template>
</ion-content>