page-mypage {

    .scroll-content {
        // margin-bottom: 0px !important;
        background-color: #fff !important;
    }


    .item {
            // border-bottom: 1px solid #f6f6f6;
            font-size:1.4rem;
    }

    .list {
         padding: 0 8px 8px 8px;
    }

    .item-inner {
        position: relative;
        padding-right: 0px;
        border-bottom: 0px !important;
    }
  
}
