.scroll-tabs {
  height: 3.6rem !important;
  .scroll-container {
    height: 3.6rem;
    overflow: scroll;
    white-space: nowrap;
    // border-bottom: 1px solid color($colors, light);
      ::-webkit-scrollbar,
      *::-webkit-scrollbar {
            display: none !important;
      }
    .scroll-content {
      overflow-y: hidden !important;
    }
    .section {
      min-width: 17vw;
      display: inline-block;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 0;
      text-align: center;

      .tab9-button {
        width:100%;
        border-radius: 0;
        padding-bottom: 3px;
        padding-left: 1px;
        padding-right: 1px;
        margin-right: 2vw;
        margin-left: 2vw;
        padding:0;
        margin:0;
        color: color($colors, dark);
        text-transform: none !important;
        font-size: 1.2rem;
      }
      .tab9-button.selected {
        color: color($colors, primary);
        border-bottom: 2px solid color($colors, primary);
      }
      .tab9-button.three {
        width: 29vw;
      }
    }
  }
}
